*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
<<<<<<< HEAD
    /*outline: 1px solid red;*/
=======
>>>>>>> 00fbf5e6b3c8f2cc54471adcea02e1ec5fbf6b13
}

body{
    margin: 10px;
    background-color: honeydew;
    font-size: 16px;
}

#project-title{
    text-align: center;
    background-color: rgb(186, 229, 186);
    border-radius: 50px;
    font-size: 32px;
}
ul, ol{
    background-color: rgb(186, 229, 186);
    border-radius: 30px;
<<<<<<< HEAD
    padding: 10px 20px;
    font-size: 1em;
    margin: 0px 20px 0px 20px;
}

#recipe-box{
    margin: 20px 30px 0px 30px;
=======
    margin: 30px;
    padding: 10px 20px;
    font-size: 1em;
>>>>>>> 00fbf5e6b3c8f2cc54471adcea02e1ec5fbf6b13
}

li{
    margin: 5px;
}

h3{
    color: blue
<<<<<<< HEAD
}

/* Recipes.html FORMAT (Some of the above declaration blocks
obviously have effects on the other 3 recipes.html file but 
this section is targetting those 3 files. */

#recipe-intro{
    margin: -25px 0px 25px 0px;
}

.return-home{
    display:block;
    text-align: end;
}

.subsection{
    color:#5e8bbb;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 20px;
=======
>>>>>>> 00fbf5e6b3c8f2cc54471adcea02e1ec5fbf6b13
}